#page-grupos-caixas-list {
    width: 100vw;
    height: 100vh;
}

#search-grupos-caixas {
    margin-top: 3.2rem;
    width: 100%;
}

#search-grupos-caixas label {
    color: var(--color-text-in-primary);
}

#search-grupos-caixas button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#search-grupos-caixas button:hover {
    background: var(--color-secondary-dark);
}

#page-grupos-caixas-list main {
    padding: 5rem auto;
    width: 90%;
}

@media (min-width: 700px) {
    #page-grupos-caixas-list {
        max-width: 100%;
    }

    #search-grupos-caixas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }
    
    #search-grupos-caixass .input-block + .input-block,
    #search-grupos-caixass .select-block + .select-block {
        margin-top: 0;
    }

    #page-grupos-caixas-list main {
        padding: 5rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}
